* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
    margin: 0 auto;
}
body {
    background-color: rgb(155, 139, 139);
    background: url(img/background-all.jpg) no-repeat;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: #141419;
}
.visually-hidden {
    position: absolute;
     width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}
.wrapper {
    max-width: 1254px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
}
/* other general styles */
.section-heading {
    font-size: 60px;
 font-weight: bold;
 line-height: 72px;
}
.text-underline {
    background-image: linear-gradient(to right, #fb973b 100%, #fb973b 100%);
    background-repeat: repeat-x; 
    background-position: 0 75%; 
    background-size: 100% 10px; 
}
.section-text {
    font-size: 24px;
    font-weight:bold;
    line-height: 36px;
    color: #616161;
    }
    .section-text span {
        color: #fb973b;
    }
/*styles for header */
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px
}
.logo-container {
    width: 150px;
    height: 66px;
    margin-right: 80px;
}
.main-logo {
    width: 100%;
}
.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
.nav-item {
    text-decoration: none;
    color: #616161;
    margin-right: 70px;
  
}
.nav-item:last-child {
    margin-right: 0;
}
.tel-container {
    width: 120px;
    height: 66px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.tel-container a{
    text-decoration: none;
    color: #141419;
    font-weight: bold;
  }
  /* styles for promo section */
.promo {
    background-image: url(img/promo_background-img.jpg);
    background-repeat: no-repeat;
    background-position: right 0;
}
.promo-container {
    position: relative;
}
.promo-content-wrapper {
   
    display: flex;
    flex-direction: column;

}

.promo-content-wrapper .section-heading {
     margin: 85px 0 30px;
}

/* .promo-heading::after {
    content: "";
    width: 656px;
    height: 10px;
    background: url(img/promo-line1.png) no-repeat;
    background-position: 20px 0;
    position: absolute;
    left: 0;
    top: 47px;
} */

.promo-content-wrapper .section-text {
    margin: 0 0 50px;
    width: 334px;
}


.promo-form-wrapper {
    width: 391px;
}
.promo-form {
    display: grid;
grid-template-columns: 1fr 1fr; 
grid-template-rows: 57px;  
}
.promo-form-tel {
    background-color: #f8f8f8;
    color: #616161;
    
    padding: 0 10px;
}
.promo-form-btn {
    background-color: #fb973b;
    color: #fff;
   padding: 0 20px;
}
.promo-img-wrapper {
    position: absolute;
    top:0;
    left: 482px;
    width: 993px;
    height: 738px;
    }
.promo-img {
    width: 100%;
}
/*styles for about-us section*/ 

.about-us {
    margin: 145px auto;
}
.about-us-wrapper {
    width: 825px;
    margin: 0 auto;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 120px repeat(3, 1fr);
    grid-template-areas: "heading heading"
    "text text"
    "picture item1"
    "picture item2"
    "picture item3";
    justify-content: center;
    align-items: center;
}

.about-us-wrapper .section-heading {
    grid-area: heading;
}
.about-us-wrapper .section-text {
    grid-area: text;
    text-align: center;
    margin-bottom: 40px;
}
.about-us-img {
    grid-area: picture;
    background-image: url(img/About-us-lamp.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.about-us-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.about-us-item p {
    margin: 0;
}
.about-us-item-1 {
    grid-area: item1;
}
.about-us-item-2 {
    grid-area: item2;
}
.about-us-item-2 {
    grid-area: item2;
}
/*  styles for parners section*/

@media screen and (max-width:1200px) {
    .header {
        justify-content: center;
    }

    .logo-container {
        order: 2;
        margin: 0 30px;
    }
    .tel-container {
        order: 2;
        margin: 0 30px;
    }
    .main-nav {
        order: 3;
        margin: 30px 0;
    }
    .nav-item {
        margin-bottom: 20px;
    }
}